body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 80px auto 60px;
    height: 100vh;
    margin: 0;
}

.header {
    grid-area: header;
    background-color: #0e02bd;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.content, .extra {
    background-color: #44949e;
    padding: 10px;
    text-align: center;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: #949494;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer {
    grid-area: footer;
    background-color: #555555;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1024px) {
    body {
        grid-template-areas:
            "header header"
            "main sidebar"
            "footer footer";
        grid-template-columns: 2fr 1fr;
    }
    
    .main {
        flex-direction: row;
    }
}

@media (max-width: 1023px) {
    .main {
        flex-direction: column;
    }
    .sidebar {
        display: none;
    }
}

