body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: green; 
    border-color: rgb(1, 44, 1) ;
    color: black; 
}

.container {
    padding: 20px;
}

@media (orientation: landscape) {
    body {
        background-color: blue; 
        color: white; 
    }

    .container {
        padding: 20px;
    }
}
